# 1. ALLOW the Heavy Models (Removed *.pkl and Script/saved_models/)
models/
artifacts/
*.bin

# 2. ALLOW the CSVs for production
# We block all extra CSVs, but explicitly unblock the ones we need for production
Data/*
!Data/sampled_data.csv
!Data/movie_mapping.csv
!Data/ratings.csv
!Data/movies.csv

# 3. Block Git and GitHub (Major source of hidden bulk)
.git
.github
.gitignore
*.md

# 4. Block Python and Test Garbage
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env
.venv/
venv/
env/
tests/
.ipynb_checkpoints/

# 5. Block OS Junk and Archives
.DS_Store
Thumbs.db
*.zip
*.tar.gz
*.7z